.layout{
    display: flex;
    flex-direction: row;
    color: var(--txt-color)
}

.layout_content{
    background-color: var(--second-bg);
    flex: 1;
    
}

.layout_content-main{
    padding: 10px;
}